recursive-include orangewidget *.png *.svg *.js *.css *.html

recursive-include distribute *.svg *.desktop

include README.md
include CONTRIBUTING.md
include LICENSE
include setup.py
include pyproject.toml

recursive-include i18n *.jaml *.yaml
